<div class="row">
    <div class="col">
        <h3>
            FLIGHT DETAILS
            <mat-icon class="float-right close" (click)="close()" >close</mat-icon>
        </h3>
        <p class="label">Code: {{ flight.code }}</p>
        <p class="label">Crew:</p>
        <ul>
            <li *ngFor="let crewMember of flight.crew">
                {{ crewMember.name }}
            </li>
        </ul>
        <button mat-raised-button color="primary" class="float-right" (click)="goToEditFlight()">
            EDIT FLIGHT
        </button>
    </div>
</div>